.DS_Store
compiled/
/doc/
*~
*.bak
\#*
.\#*
/.local-tools/
/html/
/lib/web-easy/tmp/
/lib/web-easy/examples/**/generated/
/web-site/src/*.wat
/web-site/src/**/*.wat
/web-site-new/src/*.wat
/web-site-new/src/**/*.wat
/web-site/public/web-easy-examples/*.wat
/web-site/public/web-easy-examples/**/*.wat
